{
  "presets": ["react", "es2015"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-react-display-name",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "react": "preact-compat",
        "react-dom": "preact-compat",
        "client": "./client"
      }
    }]
  ]
}