.Battery {
  margin: 0 auto;
  border: 10px solid $green;
  background-color: transparentize($green, 0.7);
  border-radius: 0.625rem;
  text-align: center;
  width: 12.5rem;
  height: 2.625rem;

  &--turquoise {
    background-color: transparentize($turquoise, 0.7);
  }

  &--yellow {
    background-color: transparentize($yellow, 0.7);
  }

  &--orange {
    background-color: transparentize($orange, 0.7);
  }

  &--red {
    background-color: transparentize($red, 0.7);
  }

  &--turquoise .Battery_contents {
    background-color: $turquoise;
  }

  &--yellow .Battery_contents {
    background-color: $yellow;
  }

  &--orange .Battery_contents {
    background-color: $orange;
  }

  &--red .Battery_contents {
    background-color: $red;
  }
}

.Battery_contents {
  background-color: $green;
  height: 100%;
  float: left;
}

.Battery_face {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-sizing: border-box;
  width: 2.5625rem;
}

// Import the faces
@import 'faces/green';
@import 'faces/turquoise';
@import 'faces/yellow';
@import 'faces/orange';
@import 'faces/red';