body, html, .App {
  background-color: $pale-blue;
  font-size: $base-font-size;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'News Cycle', sans-serif;
}

.App {
  position: relative;
}

.App_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Battery_level {
  text-align: center;
  font-size: 5rem;
  color: $dark-pale-blue;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}