// Battery colors
$green: #61D095;
$turquoise: #AFE0CE;
$yellow: #F5F093;
$orange: #F7996E;
$red: #E25178;

// Other colors
$black: #333333;

// Page and text colors
$pale-blue: #E0F0F1;
$dark-pale-blue: #9DA8A9;

// Page variables
$base-font-size: 16px;