// Battery colors
$green: #61D095;
$turquoise: #AFE0CE;
$yellow: #FFF2B0;
$orange: #F7996E;
$red: #E25178;

$black: #333333;

// Page and text colors
$pale-yellow: #F9EED7;
$dark-pale-yellow: #AFA797;

$base-font-size: 16px;